@CHARSET "UTF-8";
/* ««««««««««««««««««««««««««««««««««
   « Stylesheet for PK2Lib dev page »
   »»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»»» */



/* Reset */

* {
	margin:  0;
	padding: 0;
	border:  0;
}

article, aside, details, figure, footer, header, main, nav, section, summary {display: block;}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	max-width: 100%;
}



/* Basic */

body {
	background: url("../images/FACTORY2.png") center center;
	color: rgba(255, 255, 255, 0.75);
	font-family: "Roboto Slab", "Verdana", sans-serif;
}

main {
	float: right;
	background: rgba(0, 0, 0, 0.85);
	width: 33%;
	min-width: 320px;
	max-width: 960px;
	padding: 1rem;
	border: 0.5rem solid rgba(255, 255, 255, 1);
	border-image-source: url("../images/qbg3.png");
	border-image-width: 0.5rem;
	border-image-repeat: round;
	border-image-slice: 22;
	margin: 1rem;
	box-sizing: border-box;
}

aside {
	float: left;
	min-width: calc(240px + 2rem);
}

#page_header h1 {
	width: 240px;
	height: 240px;
	font-family: "XoloniumRegular";
	text-align: center;
	background-image: url("../images/logo.png");
	background-size: 100%;
	display: block;
	font-size: 56pt;
	margin: 1rem auto;
	border-radius: 4px;
	z-index: 2;
	box-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.5),
	            0 0 4pt rgba(0, 0, 0, 0.5) inset;
	position: relative;
}

h1 > span {float: left; width: 240px; height: 120px;}
h1 > span:first-child {color: #000000; line-height: 100px; text-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.2);}
h1 > span:last-child {color: #FFFFFF; line-height: 140px; text-shadow: 0 3pt 6pt rgba(255, 255, 255, 0.2);}

h1 ::-moz-selection {color: rgba(255, 255, 255, 0.3); text-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.5); background: rgba(0, 0, 0, 0);}
h1 ::selection {color: rgba(255, 255, 255, 0.3); text-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.5); background: rgba(0, 0, 0, 0);}

aside nav {
}

aside nav a {
	float: left;
	clear: left;
	margin: 0 0 0 1.5rem;
	white-space: nowrap;
	color: #FFFFFF;
	transition: all 200ms;
	padding: 0.2rem 0.5rem;
	text-decoration: none;
	border-radius: 0.3rem;
	background: rgba(0, 0, 0, 0.75);
	text-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.75);
}

aside nav a:hover {
	color: #000000;
	transform: translateX(1rem);
	background: rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 0.2rem 0.1rem rgba(255, 255, 255, 0.75);
}


aside nav a::before {
	content: "> ";
}