@CHARSET "UTF-8";
/**********************************
 * Stylesheet for PK2Lib dev page *
 **********************************/

/* General */

a, a:link, a:visited {
    color: #e65100;
    text-shadow: 0 3pt 6pt #FFFFFF;
}

a:hover, a:active {
    color: #000000;
}

/* Structure */

body {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto Slab", "Verdana", sans-serif;
}

main {
    float: right;
    background: rgba(0, 0, 0, 0.85);
    width: 33%;
    min-width: 320px;
    max-width: 960px;
    padding: 1rem;
    border: 0.5rem solid rgba(255, 255, 255, 1);
    border-image-source: url("../images/qbg3.png");
    border-image-width: 0.5rem;
    border-image-repeat: round;
    border-image-slice: 22;
    margin: 1rem;
    box-sizing: border-box;
}

aside {
    float: left;
    min-width: calc(240px + 2rem);
}

#page_header h1 {
    margin: 1rem auto;
}

aside nav {
}

aside nav a, aside nav a:link, aside nav a:visited {
    float: left;
    clear: left;
    margin: 0 0 0 1.5rem;
    white-space: nowrap;
    color: #FFFFFF;
    transition: all 200ms;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border-radius: 0.3rem;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
    text-shadow: none;
}

aside nav a:hover {
    color: #000000;
    transform: translateX(1rem);
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 0.2rem 0.1rem rgba(255, 255, 255, 0.75);
}

aside nav a::before {
    content: "> ";
}