@CHARSET "UTF-8";
/****************************************
 * Stylesheet for PK2Lib Downloads page *
 ****************************************/



/* Reset */

* {
	margin:  0;
	padding: 0;
	border:  0;
}

article, aside, details, figure, footer, header, main, nav, section, summary {display: block;}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	max-width: 100%;
}



/* General */

h2, h3 {
	font-family: "Vademecum";
	text-align: center;
	text-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.5);
	margin: 4rem 0 2rem;
	font-weight: normal;
}

h2 {font-size: 4rem;}
h3 {font-size: 2.8rem;}
h4 {margin: 1rem 0 0.5rem;}

h2 + h3 {margin-top: 0;}

p, ul, ol {
	text-align: justify;
}

p:not(:first-of-type) {text-indent: 1.5rem;}
h3 + p:not(:first-of-type) {text-indent: 0;}

a, a:link, a:visited {
	color: #e65100;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 0 3pt 6pt #FFFFFF;
	transition: all 100ms linear;
}

a:hover, a:active {
	color: #000000;
	text-decoration: underline;
}

figure {
	text-align: center;
	display: inline-block;
}

figure img {
	margin: 0.2rem;
	float: left;
	transition: all 300ms;
	cursor: pointer;
}

figure img:hover {
	transform: translateY(-0.3rem);
	box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

figcaption {
	float: left;
	width: 100%;
	margin-top: 0.5rem;
	border-top: 0.1rem solid rgba(0, 0, 0, 0.5);
}


ul {
	list-style-type: square;
}

ul, ol {
	margin: 1rem 0 1rem 2rem;
}

p + ul, h4 + ul, p + ol, h4 + ol {
	margin: 0 0 1rem 2rem;
}

blockquote {
	background-position: -176px 0;
	background-repeat: no-repeat;
	padding: 0.5rem 32px 0.5rem 92px;
	position: relative;
}

blockquote::before {
    content: "“";
    display: block;
    font-size: 14em;
    left: 0;
    position: absolute;
    top: -0.15em;
	opacity: 0.54;
}

blockquote footer {
	padding: 0.5rem 0 0.5rem 64px;
}

blockquote footer::before {
	content: "— ";
}

table {
	border-top: 0.1rem solid rgba(0, 0, 0, 0.7);
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.7);
	margin: 1.5rem 0;
	padding: 0.5rem;
	border-spacing: 1rem;
}

table tr > td:first-child {
	text-align: right;
}
table tr > td:last-child {
	text-align: left;
}

img {
	margin: 0.5rem;
}

img.left  {float: left;}
img.right {float: right;}

mark {
	background-color: #e0e0e0;
	color: inherit;
	cursor: help;
	border-radius: 0.2rem;
}

::-moz-selection  {color: rgba(0, 0, 0, 0.8); background: rgba(255, 255, 255, 0.8);}
::selection       {color: rgba(0, 0, 0, 0.8); background: rgba(255, 255, 255, 0.8);}



/* Basic structure */

body {
	font-family: "Chelsea Market", "Verdana", sans-serif;
	color: rgba(255, 255, 255, 0.75);
	background: #FFFFFF;
}

#bg-canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1000;
}

main {
	background: rgba(0, 0, 0, 0.85);
	width: 33%;
	min-width: 320px;
	max-width: 960px;
	padding: 1rem;
	border: 0.5rem solid rgba(255, 255, 255, 1);
	border-image-source: url("../images/qbg2.png");
	border-image-width: 0.5rem;
	border-image-repeat: round;
	border-image-slice: 22;
	margin: 1rem auto;
	box-sizing: border-box;
}

#page_header {
	width: 100%;
	height: 35vh;
	max-height: 512px;
	min-height: 240px;
	padding: 16px 0 48px;
	position: relative;
}

#page_header h1 {
	width: 240px;
	height: 240px;
	font-family: "XoloniumRegular";
	text-align: center;
	background-image: url("../images/logo.png");
	background-size: 100%;
	display: block;
	font-size: 56pt;
	margin: auto;
	border-radius: 4px;
	z-index: 2;
	box-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.5),
	            0 0 4pt rgba(0, 0, 0, 0.5) inset;
	position: relative;
}

h1 > span {float: left; width: 240px; height: 120px;}
h1 > span:first-child {color: #000000; line-height: 100px; text-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.2);}
h1 > span:last-child {color: #FFFFFF; line-height: 140px; text-shadow: 0 3pt 6pt rgba(255, 255, 255, 0.2);}

h1 ::-moz-selection {color: rgba(255, 255, 255, 0.3); text-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.5); background: rgba(0, 0, 0, 0);}
h1 ::selection {color: rgba(255, 255, 255, 0.3); text-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.5); background: rgba(0, 0, 0, 0);}

#page_header nav {
	width: 40%;
	padding: 0.5rem 0 0;
	text-align: center;
	line-height: 1.5em;
	position: absolute;
	bottom: 5px;
	left: 30%;
}

#page_header nav a {
	margin: 0 1rem;
	white-space: nowrap;
	color: #FFFFFF;
	transition: color 200ms;
}

#page_header nav a:hover {
	color: #000000;
}

