@CHARSET "UTF-8";
/****************************************
 * Stylesheet for PK2Lib Downloads page *
 ****************************************/


#episodeDB footer {
    clear: both;
}

.episode {
    float: left;
    width: 100%;
    background: rgba(63, 81, 181, 0.8);
    border: 0.08em solid #1a237e;
    border-radius: 0.2em;
    box-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.5), 0 0 6pt rgba(0, 0, 0, 0.5) inset;
    margin-top: 0.5em;
    color: rgba(0,0,0,0.5);
    transition: all 300ms;
    box-sizing: border-box;
}

.episode.active, .episode:hover {
    background: #3f51b5;
}

.episode:hover {
    border-color: #4527a0;
}

.episode.active {
    color: rgba(0,0,0,0.75);
    padding: 0.25em;
}

.episode:not(.active) {
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
    display: flex;
}

.episode * {
    transition: all 300ms;
}

.episode:not(.active) > * {
    display: none;
    height: 0;
}

.episode:not(.active) > header,
.episode:not(.active) > figure {
    flex: 1;
    height: auto;
    display: block;
    float: left;
    width: 50%;
    padding: 0.25em;
    box-sizing: border-box;
    position: relative;
}

.episode:not(.active) > figure {
    opacity: 0.9;
}

.episode:not(.active):hover > figure {
    opacity: 1;
}

.episode.active > * {
    width: 100%;
}

.episode figure img {
    max-width: calc(100% - 0.4rem);
}
.episode:not(.active) figure img:hover {
    transform: none;
    box-shadow: none;
}

.episode footer a {
    display: block;
    text-align: center;
    width: 100%;
    box-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.3), 0 0 6pt rgba(0, 0, 0, 0.1) inset;
    background: rgba(0, 0, 0, 0.1);
    height: 2em;
    line-height: 2em;
    border-radius: 1em;
    transition: all 200ms;
    color: rgba(255, 255, 255, 0.66);
    text-shadow: none;
}

.episode footer a:hover {
    box-shadow: 0 3pt 6pt rgba(0, 0, 0, 0.3), 0 0 6pt rgba(0, 0, 0, 0.3) inset;
    background: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: #FFFFFF;
}

.episode table td:first-child {
    width: 33%;
}

.episode h3 {
    font-family: inherit;
    font-size: 2rem;
}

.episode:not(.active) h3 {
    margin: 0;
}

.episode:not(.active) h4 {
    text-align: center;
}

.episode:not(.active) figcaption {
    width: 100%;
    height: 100%;
    font-size: 0;
    opacity: 0;
    margin: 0;
    border: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.episode.active h3:hover {
    color: #000000;
}

.tested {
    color: #4caf50;
}

.untested {
    color: #b71c1c;
}

.tested, .untested {
    font-size: 2em;
    display: block;
    height: 0.5em;
    line-height: 35%;
    font-family: "Arial Unicode MS";
}

.episode table tr:not(:first-of-type) td:first-child {
    vertical-align: top;
}

.episode:not(.active) figure img:not(:first-of-type) {
    position: absolute;
    right: 0;
    top: 0;
}

.episode:not(.active) figure img {
    transition: opacity 300ms;
    opacity: 0;
}

.episode:not(.active) figure img.active {
    opacity: 1;
}


.episode.active figure img {
    max-width: calc(100% / 3 - 0.4rem);
    box-sizing: border-box;
}


